<div class="row formContainer">
    <form method="POST">
        <div class="row">
            <h3>mediciense</h3>
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email">
                <label for="email">Disecase Name</label>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="Summary">
                <label for="password">Summary</label>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="Cause">
                <label for="password">Cause</label>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="mediciense">
                <label for="password">mediciense</label>
            </div>
        </div>
        <div class="button">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
    </form>
</div>